.headerGroup {
  display: grid;
  margin-bottom: 1.875rem;
  padding-bottom: 1.875rem;
  border-bottom: 1px solid var(--gray8);
  grid-template-columns: 2fr 1fr;
}

h4.headingWithLink .copyButton, 
h5.headingWithLink .copyButton,
h6.headingWithLink .copyButton {
  display: none;
}

.copyButton {
  border-radius: 5px;
  padding: 3px 7px;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  transition: all 75ms ease-in;
  cursor: pointer;
  overflow: hidden;
  border: none;
  background-color: transparent;
  vertical-align: middle;
  border: 1px solid var(--appbg);
}

.copyButton:active {
  background-color: var(--linkContainerBgHover);
  border: 1px solid var(--linkContainerBorderHover);
}

.copyButtonIcon {
  width: 20px;
  height: 20px;
}

:global(.dark-theme) .copyButtonIcon {
  filter: invert(1);
}

.breadcrumb {
  display: flex;
  color: var(--gray11);
  font-size: 12px;
  margin-bottom: 20px;
}

.crumbSpacer {
  margin-right: 5px;
  margin-left: 5px;
}

.crumbTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.readTime {
  color: var(--gray12);
  font-weight: 500;
  font-size: 13px;
  color: var(--gray12);
  transition: color 0.25s ease;
  margin-bottom: 20px;
  margin-top: 0px;
}

.publishDate {
  color: var(--gray11);
  font-weight: 500;
  font-size: 13px;
  transition: color 0.25s ease;
  margin-top: 20px;
}

.updateDate {
  color: var(--gray12);
  font-weight: 500;
  font-size: 13px;
  color: var(--gray12);
  transition: color 0.25s ease;
}

.codeBlock {
  margin: 25px 0;
}

.codeBlock,
.blog_inlineImage {
  margin-bottom: 15px;
}

.codeBlock>div:first-child {
  margin: 0 !important;
}

.metaData {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.readTimeWrapper {
  display: flex;
}

.readTimeWrapper p {
  background-color: var(--gray4);
  transition: all 0.2s ease;
  padding: 5px 10px;
  border-radius: 100px;
}

@media screen and (max-width: 850px) {

  .authorWrapper {
    margin-top: 20px;
    order: 3;
  }
}

@media only screen and (max-width: 850px) {
  .updateDate {
    order: 2;
  }

  .publishDate {
    order: 1;
  }

  .headerGroup {
    grid-column: span 2;
  }

  .header {
    grid-column: span 2;
  }

  .metaData {
    grid-column: span 2;
    align-items: flex-start;
  }

}

.featuredImage {
  grid-column: span 2;
  margin-top: 20px;
}

.authorName {
  margin-bottom: 0;
  line-height: 0.9;
  font-weight: 500;
  font-size: 13px;
  color: var(--gray12);
}

.excerpt {
  color: var(--gray12);
  font-size: var(--font-l);
  line-height: 1.7;
}