
.headerGroup {
  display: grid;
  margin-bottom: 1.875rem;
  padding-bottom: 1.875rem;
  border-bottom: 1px solid var(--gray8);
  grid-template-columns: 2fr 1fr;
}

.publishDate {
  color: var(--gray9);
  line-height: 0.9;
  font-weight: 400;
  font-size: var(--font-m);
  transition: color 0.25s ease;
  margin-top: 15px;
}

.codeBlock, .blog_inlineImage {
  margin-bottom: 15px;
}

.codeBlock > div:first-child {
  margin: 0!important;
}

.metaData {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.authorWrapper {
  margin-top: 30px;
}

@media screen and (max-width: 850px) {
  .metaData {
    flex-direction: column-reverse;
  }

  .authorWrapper {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 850px) {

  .headerGroup {
    grid-column: span 2;
  }

  .header {
    grid-column: span 2;
  }

  .metaData {
    grid-column: span 2;
    align-items: flex-start;
  }

}

.featuredImage {
  grid-column: span 2;
  margin-top: 20px;
}

.authorName {
  margin-bottom: 0;
  line-height: 0.9;
  font-weight: 500;
  font-size: 13px;
  color: var(--gray9);
}

.excerpt {
  color: var(--gray9);
}